{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>Card</h1>

<p>This is a card game.</p>

<p>These are the routes used in developing this exercise and game.</p>

<ul>
    <li><a href="{{ path('card_deck') }}">Card deck</li>
    <li><a href="{{ path('card_shuffle') }}">Card shuffle</li>
    <li><a href="{{ path('card_draw') }}">Card draw</li>
    <li><a href="{{ path('card_draw_numbers') }}">Draw many cards</li>
</ul>

{% endblock %}