header {
    height: 100px;
}

main {
    margin: 0 auto;
    max-width: 400px;
}

body {
    margin: 0 auto;
    max-width: 70%;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 3.5rem;
    font-family: monospace;
}

p {
    font-size: 1.25em;
    margin-bottom: 1.75rem;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    margin: 0 auto;
    text-align: center;
}

.navbar a {
    font-size: 1rem;
    font-family: monospace;
    text-decoration: none;
    padding: 0.2em 0.5em;
}

.navbar a:hover {
    text-decoration: underline yellowgreen
}

.navbar ul {
    list-style-type: none;
    border-bottom: 3px solid black;
}

.navbar li {
    display: inline;
}

.site-header {
    background-color: black;
    border: 2px whitesmoke;
    font-size: 5rem;
    margin: 0 auto;
}

.site-title {
    font-family: monospace;
    color: whitesmoke;
}

.surfbild {
    max-width: 50%;
    max-height: 50%;
}

footer {
    height: 50px;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.list {
    list-style-type: none;
}

.list a {
    font-family: monospace;
    font-size: 1.25em;
    color: black;
    text-decoration: none;
    margin-bottom: 1.75rem;
}

.list a:hover {
    color: yellowgreen;
}

.aboutbild {
    max-width: 100%;
    max-height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.main-column {
    flex-grow: 2;
}

.photo-column {
    flex-grow: 1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.gaming-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 2px solid black;
    padding: 1em;
    border-radius: 25%;
    width: 100%;
    font-family: monospace;
    font-weight: bold;
}

.player-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackjack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.hand-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1em;
}

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.blackjack-container a {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}

.bank-board {
    display: flex;
    flex-direction: row;
}

.proj-navbar {
    font-family: monospace;
}

.proj-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.proj-navbar ul li {
    float: left;
}


.proj-navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.proj-navbar ul li a:hover {
    background-color: #111111;
}

.proj-header {
    background-color: #26244d;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 5rem;
}

.proj-footer {
    font-family: monospace;
    background-color: #26244d;
    color: white;
    padding: 10px;
    text-align: center;
}