{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Välkommen till min sida i mvc-kursen</h1>
    <p>Hej mitt jag heter Lucas och studerar just nu webbprogrammering i BTH.</p>
    <img src="{{ asset('build/images/Enbildpamig.jpg') }}" alt="">
{% endblock %}